<!DOCTYPE html>
<html>
<head>
	<title>to-do app</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
    	.jumbotron {
    		background-color: #a5d6a7;
    	}

    	button {
    		margin-top: 20px;
    	}

        li {
            list-style-type: none;
        }

        .btn-danger {
            margin-top: 10px;
            display: inline;
        }

        .second {
            margin-top: 20px;
        }

        .special {
            margin: 0;
            display: inline;
        }

        input {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
	{{{body}}}
</body>
</html>